$background_green: #798C73;
$background_grey: #FFFFFF;
$background_lightgreen: #E8F1E5;

$background_badge: #F0F0F1;
$font_badge: #64646F;

$font_red: #B97A73;
$background_pink: #FFE8E5;

$font_blue: #100030;
$font_green: #798C73;
$font_grey: #93909A;

$border_grey: #D6D5D9;