@use '../components/App/mixin.scss';
@use '../components/App/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 98%;
    margin-right: 16px;
}

.main__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@include mixin.smallDevices {
    .container {
        display: flex;
        flex-direction: row;
    }
    .main__content {
        flex-direction: column;
    }
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 1279px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
